{% extends 'layout.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" style="color: #fc758e !important;">Sign Up</h2>
                <p></p>
            </div>
            <form method="POST" style="border-color: #fc758e;">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control item" type="text" id="name" name="username"></div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control item" type="password" id="password" name="password"></div>
                <button class="btn btn-primary" type="submit" style="background: #fc758e;border-color: #fc758e;">Sign Up</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}